<!-- This Section is Holding the recipe-List and recipe-details -->
<div class="row">
    <!-- RECIPE-LIST -->
    <div class="col-md-5">
        <!-- Here we Listen to the Selected Recipe -->
        <app-recipe-list></app-recipe-list>
    </div>
    <!-- RECIPE-DETAILS -->
    <div class="col-md-7">
        <!-- Add router-outlet to Display the Children[ recipe-detail.component, recipe-start.component] routing from app.routing.module -->
        <router-outlet></router-outlet>

        <!--### After Routing we Dont Need this Section -->
        <!-- Add *ngIf to Display the Details -->
        <!-- <app-recipe-details *ngIf="selectedRecipe else infoText"
        [recipe]="selectedRecipe"></app-recipe-details> -->
        <!-- Use ng-template to Display the Dummy text if No Recipe is selected -->
        <!-- <ng-template #infoText>
            <p>Please Select a Recipe!!</p>
        </ng-template> -->
    </div>
</div>
