<!-- This will  -->
<div class="row">
    <div class="col-xs-12">
        <!-- Adding Forms -- Template Driven by adding reference #f -->
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                <!-- Add #LocalReference name="name" So that when we Click on Add, Delete, Clear buttons it BINDS with the INPUT -->
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control"
                    name="name"
                    ngModel
                    required
                    >
                </div>
                <!-- name="", ngModel are required for the Form && required is for the Validation -->
                <!--TO ADD NEW INGREDIENTS  -->
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control"
                    name="amount"
                    ngModel
                    required
                    pattern="^[1-9]+[0-9]*$"
                    >
                    <!-- Using [pattern] to make sure we don't add NEGATIVE Values in Forms -->
                    <!-- name="", ngModel are required for the Form && required is for the Validation -->
                </div>
            </div>
            <!-- To Manage the Recipe -->
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit" 
                    class="btn btn-success"
                    [disabled]="!f.valid"
                    >{{ editMode ? 'Update' : 'Add' }}</button>

                    <button 
                    type="button" 
                    class="btn btn-danger"
                    (click)="onDelete()"
                    *ngIf="editMode">Delete</button>

                    <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="onClear()"
                    >Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>